#header {
  height: 15vh;
}

.navbar ul {
  display: flex;
  gap: 3vw;
  list-style: none;
  align-items: center;
}
.navbar ul li a {
  color: #fff;
  text-decoration: none;
  font-family: "DM_Sans";
  font-weight: 500;
}
.navbar ul img {
  display: none;
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  color: #fff;
  border: none;
}

#info_h1 {
  font-family: DM_Sans;
  font-size: 58px;
  font-weight: 700;
  line-height: 84px;
  background: linear-gradient(89.83deg, #2563eb 0.11%, #d946ef 58.65%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

#info_p, .s_info p, .s-5_info p, #team_item-1 p, .grid-item_1 p, .grid-item_6 p, .grid-item_5 p, .grid-item_4 p, .grid-item_3 p, .grid-item_2 p, .s-2_info p {
  font-size: 1.1rem;
  line-height: 30px;
  color: #fff;
}

.link {
  padding: 1rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(17, 24, 39, 0);
  color: #fff;
}

#h1-text, .s_info h1, .s-5_info h1, #team_item-1 h1 {
  color: #fff;
  font-size: 3rem;
  line-height: 5rem;
}

.grid-item_1, .grid-item_6, .grid-item_5, .grid-item_4, .grid-item_3, .grid-item_2 {
  width: 370px;
  padding: 1rem 0.5rem;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}
.grid-item_1 p, .grid-item_6 p, .grid-item_5 p, .grid-item_4 p, .grid-item_3 p, .grid-item_2 p {
  line-height: 1.5;
}

#item_h2, .grid-item_6 h2, .grid-item_5 h2, .grid-item_4 h2, .grid-item_3 h2, .grid-item_2 h2 {
  font-family: "DM_Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #FFFFFF;
}

.img-border_1, .img-border_6, .img-border_5, .img-border_4, .img-border_3, .img-border_2 {
  width: 74px;
  height: 74px;
  background: linear-gradient(180deg, #8A7FD9 0%, #402F8F 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-border_2 {
  background: linear-gradient(180deg, #D97F95 0%, #923250 100%);
}

.img-border_3 {
  background: linear-gradient(180deg, #84D8ED 0%, #4292BB 100%);
}

.img-border_4 {
  background: linear-gradient(180deg, #92EFC3 0%, #2F8F5B 100%);
}

.img-border_5 {
  background: linear-gradient(180deg, #BC7FD9 0%, #923283 100%);
}

.img-border_6 {
  background: linear-gradient(180deg, #8684ED 0%, #4247BB 100%);
}

.s_info h1, .s-5_info h1, #team_item-1 h1 {
  line-height: 1;
  font-size: 2.5rem;
}
.s_info p, .s-5_info p, #team_item-1 p {
  line-height: 1.5;
}

#team_item-1 {
  padding: 1rem;
  width: 300px;
  height: 300px;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.links img {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */